           body {
                    background-color: #ececec;
                    



           }
           
           
           
           
           hr {
                background-color: none;
                border: 10px dotted rgb(100, 100, 100);
                border-left: none;
                border-right: none;
                border-bottom: none;
                width: 5%;
                

            }
            .parent {
                position: relative;
                top: 0;
                left: 0;
            
            }
            .image1 {
                position: relative;
                top: 0;
                left: 0;



            }
            .image2 {
                position: absolute;
                top: 0px;
                left: 0px;



            }
            .image3 {
                position: absolute;
                top: 30px;
                left: 0px;



            }
            .image4 {
                position: absolute;
                top: 0px;
                left: 0px;


            }